/*清零*/

*{
	margin:0px;
	padding:0px;		
}
a{
	text-decoration:none;	
}
img,input{
	border:0px;
	border:1px solid none;  /*是针对IE6的 */	
}
li{
	list-style:none;
}
body{
	font: 12px/1.62 Helvetica,Arial,sans-serif;
}
/*头部*/
#hd-header{
	width:950px;
	height:90px;
	margin:0px auto;
	position:relative;
}
#hd-header .header-logo{
	display:block;
	width:154px;
	height:30px;
	background:url(../img/logo_db.png) no-repeat;
	position:absolute;
	left:0px;
	top:29px;
}
#hd-header .header-search{
	width:303px;
	height:30px;
	/*border:1px solid #c3c3c3;*/
	position:absolute;
	left:183px;
	top:31px;
	color:#e4e4e4;
	padding-left:7px;
}
#hd-header p{
	background: url(../img/bn_srh_1.png) no-repeat;
	position: absolute;
	width: 13px;
	height: 13px;
	left: 468px;
	top: 42px;
}
#hd-header ul{
	width: 402px;
	height: 23px;
	position: absolute;
	right: 0px;
	top: 36px;
}
#hd-header ul li {
	float: left;
	margin-right: 17px;
}

#hd-header ul li a{
	display: block;
	width: 43px;
	height: 23px;
}
#hd-header ul li a.header-book{
	background: url(../img/anony_nav_logo4.png) 0px 0px no-repeat;
}
#hd-header ul li a.header-movie{
	background: url(../img/anony_nav_logo4.png) -59px 0px no-repeat;
}
#hd-header ul li a.header-music{
	background: url(../img/anony_nav_logo4.png) -120px 0px no-repeat;
}
#hd-header ul li a.header-group{
	background: url(../img/anony_nav_logo4.png) -179px 0px no-repeat;
}
#hd-header ul li a.header-fm{
	width: 81px;
	background: url(../img/anony_nav_logo4.png) -239px 0px no-repeat;
}
#hd-header ul li a.header-local{
	background: url(../img/anony_nav_logo4.png) -340px 0px no-repeat;
}
/*头部结束*/

/*注册区域*/
#hd-reg-background{
	width:100%;
	height:88px;
	background:#e8edf1;
}
#hd-reg{
	width:950px;
	height:88px;
	margin:0px auto;	/*让这个盒子位于中间 宽950px*/
	
	position:relative;
	 
}
#hd-reg .reg-join{
	display:block;
	width:120px;
	height:37px;
	background:#ef7360;
	border-radius:2px; /*边框 小圆角 */
	font-size:14px;
	color:#fff;
	line-height:37px;
	text-align:center;
	position:absolute;
	left:0px;
	top:20px;
}
#hd-reg .reg-join span{
	font-size:12px;
	padding-left:4px;	
}
#hd-reg .reg-join:hover{
	background:#ED6752;
}
#hd-reg p{
	position:absolute;
	padding-left:140px;
	padding-top:28px;
	font-size:16px;
	color:#666666;
}
#hd-reg input{
	width:158px;
	height:32px;
	top:20px;
	position:absolute;
	color:#e4e4e4;
	padding-left:7px;
}
#hd-reg .reg-username{
	right: 259px;
	 
}
#hd-reg .reg-password{
	right:88px;
}
#hd-reg .reg-login{
	display:block;
	width:80px;
	height:33px;
	background:#3ba354;
	color:#fff;	
	font-size:14px;
	border-radius:2px;
	position:absolute;
	right:4px;
	top:20px;
	line-height:33px;
	text-align:center;
}
#hd-reg .reg-login:hover{
	background:#1c9439;
}
#hd-reg p.reg-p{
	position:absolute;
	left:535px;
	top:35px;	
	width:85px;
	height:17px;
	 
	padding-left:20px;
	line-height:17px;
}
#hd-reg p.reg-p .reg-rember{
	display:block;
	position:absolute;
	left:0px;
	top:30px;
	width:13px;
	height:13px;
	
}
#hd-reg .reg-forget{
	position:absolute;
	left:703px;
	top:60px;

}
/*注册区域结束*/

/*内容区域*/
#hd-con{
	width:950px;
	height:546px;
	margin:39px auto 0;
	position:relative;	
}
#hd-con .con-left{
	width:379px;
	height:543px;
	position:absolute;
	left:0px;
	top:0px;
}

#hd-con .con-left ul{
	margin-top:36px;
}
#hd-con .con-left ul li{
	width:170px;
	height:219px;
	float:left;
	padding-right:11px;    
}
#hd-con .con-left ul li .con-left-pic{
	position:absolute;
	width:170px;
	height:170px;
}
#hd-con .con-left-pic:hover{
	background:#f00;
}
#hd-con .con-left ul li span{
	color:#999999;
}
#hd-con .con-mid{
	position:absolute;
	width:305px;
	top:0px;
	height:543px;
	left:379px;
	
}
#hd-con .con-mid ul{
	margin-top:43px;
	width:266px;
}
#hd-con .con-mid ul li{
	line-height:30px;
}
#hd-con .con-mid ul li h2{
	color:#999999;
	font-size:12px;
	font-weight:400px;
}
#hd-con .con-mid ul li p{
	color:#666666;
		
}
#hd-con .con-right .right{
	height:543px;
	padding-bottom:70px;
}
#hd-con .con-right ul{
	margin-top:70px;	
}
#hd-con .con-right  ul li{
	
	padding-bottom:14px;
}
#hd-con .con-right ul li p{
	color:#999999;
}
#hd-con .con-right ul li b{
	color:#999999;
	display:block;
	font-weight:400;
}
#hd-con .con-right span{
	color:#666;	
	font-size:12px;
}
#hd-con .con-right .last-ad{
	width: 258px;
	height: 118px;
	border: 1px solid #eeeeee;
	position: absolute;
	right: 6px;
	top:426px;
}
#hd-con .con-right .last-ad h2{
	color: #000;
	font-size: 15px;
	position: absolute;
	left: 19px;
	top: 15px;
}
#hd-con .con-right .last-ad a.last-ad-pic{
	position: absolute;
	left: 19px;
	top: 44px;
}
#hd-con .con-right .last-ad a.last-ad-ghost	{
	display: block;
	width: 68px;
	height: 28px;
	overflow: hidden;
	position: absolute;
	left: 87px;
	top: 11px;
}
#hd-con .con-right .last-ad a.last-ad-ghost:hover{
	background: #fff;
}
#hd-con .con-right .last-ad a.last-ad-rainbow{
	position: absolute;
	right: 0px;
	top: 0px;
}

#hd-con .con-right .last-ad a.last-ad-rainbow:hover{
	background: #fff;
}
#hd-con .con-right .last-ad a.last-ad-beghost{
	position: absolute;
	left: 128px;
	top: 46px;
}
#hd-con .con-right .last-ad p{
	color: #999999;
	position: absolute;
	left: 128px;
	top: 66px;

}
#hd-con .con-right .last-ad span{
	color: #999999;
	position: absolute;
	left: 128px;
	top: 80px;

}
/*内容区域结束*/

/*电影区域*/
#hd-movie-backgroud{
	margin-top:44px;
	padding-top:43px;
	height:671px;
	width:100%;
	background:#f7f7f7;
}
#hd-movie-backgroud #hd-movie{
	margin-top:43px;
	width:950px;
	height:627px;
	margin:0 auto;
	position:relative;
	/*border:1px solid red;*/
}
#hd-movie-backgroud #hd-movie .mid ul.hd-movie-list{
	margin-top:10px;
}
#hd-movie-backgroud #hd-movie .mid ul.hd-movie-list li{
	margin-bottom:40px;
}
#hd-movie-backgroud #hd-movie .mid ul.hd-movie-list li img:hover{
	background:#fff;
}
#hd-movie-backgroud #hd-movie .movie-pic{
	background:url(../img/app_icons_50_6.jpg) -350px 0 no-repeat;	
}

#hd-movie-backgroud #hd-movie .mid ul li .hd-movie-name{
	display:block;
}
#hd-movie-backgroud #hd-movie .mid ul li span.hd-movie-point{
	display:block;
	width:47px;
	height:14px;
	overflow:hidden;
	background:url(../img/midstars.gif) 20px 3px no-repeat;
	text-align:left;
	line-height:20px;
	padding-left:80px;
	color:#f97b59;
	
}

#hd-movie-backgroud #hd-movie .mid ul li img{
	width:100px;
	height:142px;	
}
#hd-movie-backgroud #hd-movie .mid ul li a.hd-movie-choose{
	display:block;
	width:68px;
	height:23px;
	background:#1c8bd0;	
	color:#fff;
	border-radius:3px;
	font-size:14px;
	margin:6px auto 0;
}
/*#hd-movie-backgroud #hd-movie .mid .book-num{
	margin:10px 0 0 0;	
}*/
#hd-movie-backgroud #hd-movie .right .movie-right-ul{
	margin-top:24px;	
	float:left;
}
#hd-movie-backgroud #hd-movie .movie-right-ul li{
	width:45px;	 
	float:left;
	padding-bottom:5px;
}
#hd-movie-backgroud #hd-movie .title .right-title{
	float:left;
}
#hd-movie-backgroud #hd-movie .right .movie-right-down{
	float:left;
	margin-bottom:19px;
	
} 
#hd-movie-backgroud #hd-movie .right .movie-right-down li{
	/*border:1px solid #eaeaea;*/
	width:264px;
	line-height:35px;
}
/*电影区域结束*/

/*读书区域 */
#hd-book{
	height:659px;	
	width:950px;
	margin:41px auto 0;
	position:relative;
	 
}
#hd-book a{
	color:#614e3c;
}
#hd-book a:hover{
	color:#fff;
}
#hd-book .left .left-up{
	margin-top:35px;
	line-height:25px;
}
#hd-book .book-new{
	border:1px solid red;
	position:relative;
}
#hd-book .book-new img{
	position:absolute;
	left:28px;
	top:0;	
}
#hd-book .book-read{
	background:url(../img/app_icons_50_6.jpg) 0 0 no-repeat;
}
#hd-book .book-write{
	background:url(../img/app_icons_50_6.jpg) -400px 0px no-repeat;
}
#hd-book .book-buy{
	background:url(../img/app_icons_50_6.jpg) -200px 0px no-repeat;
}

#hd-book .mid img{
	width:110px;
	height:164px;	
}
#hd-book .book-span{
	display:block;	
	
}
#hd-book .mid .hd-book-ul li{
	margin-top:26px;
	margin-bottom:13px;
}
#hd-book .mid p{
	line-height:20px;
	text-align:center;
	font-size:12px;	
}
#hd-book .mid span{
	line-height:20px;
	text-align:center;	
}
#hd-book .mid b{
	line-height:20px;
	text-align:center;	
	color:#666666;
	
}
#hd-book .mid ul li a.book-free-read{
	width:68px;
	height:23px;
	background:#999a95;
	border-radius:3px;
	display:block;
	margin:0 auto 0;
	font-size:14px;
	text-align:center;
	color:#fff;
}
#hd-book .mid ul li a.book-free-read:hover{
	background: #878882;	
}
#hd-book .right ul li{
	height:57px;
	border-bottom:1px solid #eaeaea;	
	padding-top:17px;
}
#hd-book .right ul li span{
	color:#999999;	
	margin-right:13px;
	float:left;
}
#hd-book .right ul li a{
	margin-right:12px;
	float:left;
	margin-bottom:5px;
}
/*读书区域结束*/

/*音乐区域*/
#music-background{
	width:100%;
	background:#f7f7f7;
	height:508px;
	/*border:1px solid green;	*/
}
#music-background #music{
	margin:0px auto;
	position:relative;	
	width:950px;
	top:38px;
	/*border:1px solid green;*/
}
#music-background #music .music-title-a{
	color:#f38c14;	
}
#music-background #music a{
	color:#555d53;
}
#music-background #music a:hover{
	color:#fff;

}
#music-background #music .music-FM{
	background:url(../img/app_icons_50_6.jpg) -250px 0 no-repeat;
}
#music-background #music .music-people{
	background:url(../img/app_icons_50_6.jpg) -50px 0 no-repeat;	
}
#music-background #music .mid img{
	width:80px;
	height:80px;
}
#music-background #music .mid ul li{
	margin-top:20px;
	margin-bottom:47px;	
}
#music-background #music .mid ul li b{
	display:block;
	width:80px;
	height:12px;
	width:55px;
	height:11px;
	color: #fd4400;
	position:absolute;
	margin-left:20px;
	padding-left:40px;
	line-height:12px;
	/*border:1px solid blue;*/
	background:url(../img/midstars.gif)0 0 no-repeat;	
}
#music-background #music .right img{
	width:48px;
	height:58px;	
}
#music-background #music .right .music-right-ul{
	position:absolute;
	margin-top:18px;
 	float:left;
	width:266px;	
}
#music-background #music .right li{
	height:78px;
	position:relative;
	border:1px solid green;
}
#music-background #music .right em{
	position:absolute;
	left:0;
	top:4px;	
	font-style:normal;
}
#music-background #music .right .music-right-ul li img{
	position:absolute;
	left:19px;	
	top:0px;
}

#music-background #music .right .music-right-name{
	width:140px;
	position:absolute;
	left:79px;
	top:2px;

}
#music-background #music .right .music-right-ul li p{
	position:absolute;
	left:79px;
	top:25px;	
	width:120px;
	height:12px;
	color:#999;

}
#music-background #music .right b{
	position:absolute;
	left:79px;
	top:46px;	
	width:120px;
	height:12px;
	color:#999999;
}
/*音乐区域结束*/

/*小组区域*/
#group{
	position:relative;
	margin:40px auto 0;
	width:950px;	
	height:646px;
	/*border:1px solid red;*/
}
#group a{
	color:#2fabd6;	
}
#group a:hover{
	color:#fff;
	
}
#group .left .left-down .left-down-pic.group-lit{
	background: url(../img/app_icons_50_6.jpg) -500px 0px no-repeat;
} 
#group .mid ul li{
	width:255px;
	height:86px;
	/*border:1px solid green;*/
	position:relative;
	float:left;
}
#group .mid ul li a.group-mid-pic{
	position:absolute;
	
	width:48px;
	height:48px;	
	left:0px;
	top:0;
}
#group .mid ul li a.group-mid-title{
	display: block;
	/*border: 1px solid pink;*/
	position: absolute;
	height: 18px;
	top: 0px;
	left: 66px;
}
#group .mid ul li span{
	position:absolute;
	height:18px;
	top:27px;
	left:65px;
	color:#999999;
}
#group .right .right-li-title{
	font-size:14px;
}
#group .right .group-right-ul{
	position:absolute;
	width:267px;
	top:40px;
	/*border: 1px solid blue;	*/
}	
#group .right ul li{
	margin-top:16px;
	float:left;
	height:60px;
}
#group .right ul li a{
	margin-right:11px;
}
/*小组区域结束*/

/* 同城区域 */
#local-background{
	background:#f7f7f7;
	width:100%;
	height:387px;	
	/*border: 1px solid blue;	*/
}
#local-background #local{
	width:950px;
	/*border: 1px solid red*/;	
	margin:39px auto 0;
	position:relative;	
}
#local-background #local .left .local-title-a{
	color:#f08103;	
} 
#local-background #local a{
	color:#664433;
}
#local-background #local .left .left-down .local-lit{
	background:url(../img/app_icons_50_6.jpg) -100px 0 no-repeat;
}
#local-background #local a:hover{
	color:#fff;
}
#local-background #local .mid .local-mid-ul{
	margin-top:15px;	
	 	
	width:555px;
}
#local-background #local .mid .local-mid-ul li{
	position:relative;
	width:234px;
	height:141px;	
	margin-right:28px;
}
#local-background #local .mid .local-mid-ul li img{
	position:absolute;
	left:0;
	top:0;
}
#local-background #local .mid .local-mid-ul li div{
	width:153px;	
	float:right;
	 	
}
#local-background #local .mid .local-mid-title{
	text-align:left;
	margin-left: 0px;
}
#local-background #local .mid .local-mid-ul li div span{
	background:#ff8263;
	color:#fff;
	width:50px;
	height:17px;
	font-size:11px;
	text-align:center;
	border-radius:3px;
	float:right;
}
#local-background #local .mid .local-mid-ul li div p{
	color:#666;
	float:left;
}
#local-background #local .right ul{
	margin-top:18px;	
	
}
#local-background #local .right ul li{
	margin-top:10px;
	margin-bottom:27px;	
}
#local-background #local .right .right-li-title{
	font-size:14px;
}
/* 同城区域结束 */

/* 广告区域  */
.hd-ad-foot{
	width:950px;
	margin: 30px auto 35px;		
}
/* 广告区域结束 */

/* 底部区域 */
#foot{
	width:950px;
	margin:0 auto;	
	position:relative;
}
#foot .foot-left{
	width:423px;
	height:51px;
	color:#999999;
}
#foot .foot-right{
	position:absolute;
	top:0;
	right:0;
	width:455px;
	float:right;	
	/*border:1px solid pink;
*/}
#foot .foot-right a{
	padding-right:4px;	
}
/* 底部区域结束 */

/*公共样式*/
a{
	color:#3377aa;	
}
a:hover{
	background:#3377AA;	
	color:#fff;   
}

a:hover img{
	background:#fff;	
}
h2.title{
	font: 15px/150% Arial,Helvetica,sans-serif;
	color:#007722;
	/*border:1px solid #f00;*/
	width:260px;
}

h2.title span{
	font-size:12px;
	color:#3377aa;
}
.right{
	position:absolute;
	right:0px;
	width:267px;
	top:0px;
	/*border:1px solid green; */
}
.hd-ad{
	width:950px;
	height:90px;
	margin:0 auto;
}
.left{
	width:120px;
	position:absolute;
	top:0;
	left:0;
	/*border:1px solid blue;	*/
}
.left .left-title{
	font-size:24px;
	color:#229ace;
}
.left a:hover{
	color:#fff;
}
.left ul{
	margin-top:5px;
}
.left ul li{
	font-size:14px;
	line-height:24px;
	color:#3377aa;
	padding-bottom:12px;
}
.left .left-down{
	margin-top:34px;
	/*border:1px solid red;*/
}
.left .left-down li{

	height:93px;
	/*border:1px solid green;*/
}
.left .left-down li a.left-down-pic{	
	display:block;
	width:50px;
	height:50px;
	border-radius:6px;
	box-shadow:3px 3px 3px #999;
}
.left .left-down li a.left-down-des{
	line-height:25px;
}
.mid{
	width: 516px;
	position: absolute;
	left: 143px;
	/*border: 1px solid red;*/
}

.mid ul li{
	width:127px;
	text-align:center;
	float:left;
	
}
